body{
    margin: 0%;
    padding: 0;
    margin-top: 40px;
    background-color: #0d6efd;
    padding: 30px 120px;
    
}
.form_section{
    background-color:rgb(97, 169, 232);
    justify-content: center;
    display: flex;
    border-radius:15px ;
    width: 100%;
    height: auto;
    margin: auto;
}
.form_section img{
    width: 50%;
    height: auto;
    position: relative;
}
.form{
    display: flex; 
    width: 50%;
border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
height:  85vh;
font-size: 20px;
margin: auto;
align-items: center;
justify-content: center;
background-color:white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form_content .icon{
    display: flex;
    margin: auto;
    background-color: #0d85fd;
    border-radius: 50%;
    width: 15%;
    height: 8vh;
}
.icon svg{
    color: white;
    
}
.form_content{
    width: 70%;
    height:auto;
   background-color:white;
}
.form_content h1{
    justify-content: center;
    display: flex;
    font-weight: normal;
    font-size: 32px;
}
.form_content p{
    margin-top: 0;
    margin-bottom: 5px;
}
.link{
    display: flex;
    margin: 0;
    font-size: 16px;
}
.link p{
    color: gray;
    margin-bottom: 20px;
}
.link h4{
    font-weight: normal;
    text-decoration: underline;
    margin: 0%;
    color: #0d85fd;
    cursor: pointer;
}

.input{
    width: 100%;
    font-size: 25px;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid lightgray;
    border-bottom: 1px solid #0d85fd;
}
.form_content input{
  text-decoration: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}
.form_content input:hover{
    background-color: rgb(242, 241, 241);
}
svg{
  margin: auto;
  cursor: pointer;
  color: gray;

}
.form_content button{
    width: 100%;
    padding: 8px 0px;
    font-size: 17px;
    border: none;
    color: white;
    cursor: pointer;
    background-color:  #0d6efd;
}